{% extends "base.html" %}
{% block content %}
<div class="card mb-4 shadow bg-dark">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/{{ product.profile_image }}" class="img-fluid rounded-start" alt="{{ product.modelname }}">
        </div>
        <div class="col-md-8">
            <div class="card-body bg-dark">
                <h2 class="card-title text-white">{{ product.modelname }}</h2>
                <h4 class="text-white">{{ product.price|int }}₾</h4>
                <p class="card-text mt-3 text-white">{{ product.description }}</p>
                <p class="card-text mt-3 text-white">{{ product.productbrand }}</p>
                <p class="card-text mt-3 text-white">{{ product.devicetype }}</p>
                <p class="card-text mt-3 text-white">{{ product.devicestorage }}</p>
                <p class="card-text mt-3 text-white">{{ product.processor }}</p>
                <a href="/" class="btn btn-outline-primary mt-3">Back to Home</a>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-outline-primary mt-3">Edit</a>
                <form method="post" action="{{ url_for('delete_product', product_id=product.id) }}" style="display:inline">
                    <button type="submit" class="btn btn-danger mt-3">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
