{% extends "base.html" %}
{% block content %}
<div class="container mt-5 w-50 bg-dark shadow p-4">
    <h2 class="mb-4 text-center">Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(class="form-control mb-2") }}
        {{ form.profile_picture.label }} {{ form.profile_picture(class="form-control mb-3") }}
        {{ form.submit(class="btn btn-primary") }}
        <a href="/profile" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
{% endblock %}
